/* Глобальная база приложения */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: var(--color-bg);
    color: var(--color-text-primary);
    font-family: var(--font-ui);
    font-weight: var(--font-weight-regular);
    -webkit-font-smoothing: antialiased;
}

#app {
    height: 100%;
}
